main {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card{
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    color: white
}

.row{
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.nav-tabs{
    margin-top: 10px;
}

.nav-link{
    color: white; 
}

.nav-link:hover{
    color: white; 
}

.nav-link .active{
    color: black;
}

.tab-content{
    margin-top: 5px;
}

button{
    margin: 5px;
}

.btn-disabled{
    background-color: #007bff55;
    border-color: #007bff55;
    color: white
}

.btn-disabled:hover{
    background-color: #007bff55;
    border-color: #007bff55;
    color: white
}

.btn-sellingfast{
    background-color: #1d1571;
    border-color: #1d1571;
    color: white;
}

.btn-sellingfast:hover{
    background-color: #1d1571;
    border-color: #1d1571;
    color: red;
}